#body {
	background-color: #FFFC01;
/*	padding-top: 1%;*/
	font-family: Helvetica, sans;
}
#nav_logo {
	height: 100px;
	width: 100px;
	margin-right: auto; 
	margin-left: auto;
	display: block;
}
.headings {
	font-size: 45px;
	font-weight: bold;
	color: #000000;
}
#send_a_snap {
	border-right: solid #FFFFFF 2px;
}
#sign_up_button {
	float: right;
	display: inline;
}
.input {
	color: black;
}