<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="icon" href="images/snapchat.ico" type="image/gif">
		<title>Snapchat</title>
	</head>

	<body id="body">
		<nav>
			<a id="sign_up_button" class="btn btn-default" href="/new_user">Sign Up</a>
			<img id="nav_logo" src="http://now.avg.com/wp-content/uploads/2015/04/snapchat_logo-200x200.jpg">

		</nav>

		<%= yield %> 
	</body>

</html>